@import url('./reset.css');
@import url('./base.css');

.form {
  display: flex;
  gap: 8px;
  width: 371px;
  margin: 0 auto 32px;
}

.form input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  height: 40px;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: #2e2f42;
}

.form input:hover {
  border: 1px solid #000;
}

.form input::placeholder {
  color: transparent;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
}
.form input:focus::placeholder {
  color: #808080;
}

.form input:focus-within {
  border: 1px solid #4e75ff;
}

.form > button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 95px;
  height: 40px;
  background-color: #4e75ff;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
}

.form > button:hover {
  background-color: #6c8cff;
}

.loader {
  display: none;
}

.js-loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin: 0 calc((100% - 48px) / 2);
  display: inline-block;
  border-top: 4px solid #fff;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 100ms linear infinite;
}
.js-loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-left: 4px solid #ff3d00;
  border-bottom: 4px solid transparent;
  animation: rotation 0.5s linear infinite reverse;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.error-message {
  font-family: var(--font-family) !important;
  border-bottom: 2px solid #ffbebe;
  border-radius: 4px !important;
  padding: 20px !important;
  height: 88px;
  color: #fafafb !important;
  letter-spacing: 0.03em;
  width: 432px !important;
}

.iziToast-body {
  height: 48px !important;
  padding-left: 0 !important;
  margin-left: 0 !important;
  display: flex !important;
  width: 354px !important;
  align-items: center !important;
}

.iziToast-icon {
  display: inline-block !important;
  position: static !important;
  margin-top: 20px !important;
  margin-bottom: 20px;
}

.iziToast-texts {
  width: 322px !important;
  margin-top: 0 !important;
  padding-right: 0 !important;
}

.iziToast-message {
  height: 48px !important;
  margin-bottom: 0 !important;
  line-height: 150% !important;
  font-size: 16px !important;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin: 0 24px;
}

.gallery-item {
  width: calc((100% - 48px) / 3);
  border: 1px solid #808080;
  height: 248px;
}

.gallery-item > a {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.gallery-image {
  width: 100%;
  height: 200px;
}

.photo-details {
  display: flex;
  gap: 28px;
  /*margin: 4px auto;*/
  align-items: center;
  justify-content: center;
  font-size: 12px;
  line-height: 2;
  color: #2e2f42;
  border-bottom: 1px solid #808080;
  border-left: 1px solid #808080;
  border-right: 1px solid #808080;
  width: 100%;
  height: 48px;
}

.photo-details p {
  text-align: center;
}

.photo-details p:first-child {
  font-weight: 600;
  line-height: 1.33;
}